html {
    font-family: "Open Sans", sans-serif;
    background-color: #eee;
}

h3 {
    font-size: 18px;
    font-weight: lighter;
    color: #333;
    padding-top: 3px;
    padding-left: 10px;
    padding-bottom: 3px;
    margin: 0px;
    display: inline-flex;
}

.container {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    box-shadow: 0px 0px 5px 5px rgba(204, 204, 204, 0.4);
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
}

.banner {
    height: 64px;
    background-color: #333;
    color: #fff;
    padding: 12px;
}

.banner h1 {
    display: inline;
    line-height: 64px;
    padding-left: 4px;
}

.banner img {
    float: right;
    padding-right: 4px;
}

.live-box {
    border: 0px;
    margin: 0px;
    overflow: hidden;
    background: #333;
    margin-bottom: 10px;
}
.live-box>.title {
    position: absolute;
    background-color: #111;
    display: inline-block;
    padding: 1px 5px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
    left: 50px;
    top: 100px;
    z-index: 100;
    height: 24px;
}
.live-box>.title>h3 {
    margin:0px;
    padding:0px;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    color: #ddd;
}

.box {
    border: 1px solid #ddd;
    border-radius: 7px;
    margin: 5px;
    overflow: hidden;
}

.box>.title {
    border-bottom: 1px solid #ddd;
    background-color: #fbfbfb;
}

.box>.content {
    padding: 5px;
}

#bottom-line {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #777;
    padding: 12px;
}

#global-topic-checklist {
    font-size: 14px;
    margin: 10px;
    text-align: center;
}

#global-topic-checklist>label {
    margin-right: 38px;
}

#global-topic-checklist>label>input {
    top: 2px;
    position: relative;
}

#tweets-live-plot {
    height: 200px;
}

#tweets-live-dropdown {
    position: absolute;
    width: 125px;
    right: 20px;
    top: 100px;
    z-index: 10;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.6;
}

#tweets-live-dropdown .Select-value-label {
    color: #BBB;
}
#tweets-live-dropdown .Select-value {
    line-height: 24px;
}
#tweets-live-dropdown .Select-control {
    background-color: #111;
    border-color: #7f7f7f;
    height: 24px;
}
#tweets-live-dropdown .Select-input {
    height: 22px;
}
#tweets-live-dropdown .Select-control input {
    padding: 0px;
}

#tweets-live-dropdown .Select-clear-zone {
    display: None;
}

span.icon {
    font-weight: bold;
    margin-right: 16px;
}

.iconImage {
    height: 21px !important;
    margin-right: 16px;
}

.refresh {
    color: #333;
    font-size: 16px;
    float: right;
    margin: 4px;
    cursor: pointer;
}

/*  Twitter Styling for embedded tweets */


.EmbeddedTweet {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e1e8ed;
  border-radius: 4px;
  margin-bottom: 5px;
}

.Tweet-header {
  height: 25px;
  position: relative;
  padding-left: 45px;
  white-space: nowrap
}

.Tweet-brand {
  position: relative;
  z-index: 1;
  float: right !important;
}

.Icon {
  display: inline-block;
  height: 1.25em;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: text-bottom
}

.Tweet-body {
  margin-top: 14px
}

.Tweet-text {
  text-align: left;
  direction: ltr
}

a {
  background-color: transparent
}

a:active, a:hover {
  outline: 0
}

.Tweet-metadata {
  font-size: 14px;
  color: #697882
}
